<div id="chat-zone">
  <virtual-scroller #scroll [items]="data">
    <p class="line mx-2" *ngFor="let m of scroll.viewPortItems">
      <ng-container *ngIf="m.user"><b>{{ m.user }}: </b>{{ m.data }}</ng-container>
      <ng-container *ngIf="!m.user"><b [class]="m.data.endsWith('joined') ? 'text-success' : 'text-danger'">{{ m.data }}</b></ng-container>
    </p>
  </virtual-scroller>
  <input class="form-control mr-sm-2" [(ngModel)]="message" (keydown.enter)="send()" type="text" 
         placeholder="Message" aria-label="Message" [disabled]="!socket.connected">
</div>