<div id="chat-zone" [class.active]="chatActive">
  <virtual-scroller #scroll [items]="data">
    <p class="line mx-2" *ngFor="let m of scroll.viewPortItems">
      <ng-container *ngIf="m.type === 'msg'">
        <b [ngStyle]="{'color': colors[m.user]}">{{ m.user }}</b>: <span [innerHTML]="m.data | linkify"></span>
      </ng-container>
      <ng-container *ngIf="m.type === 'join'"><b class="text-success">{{ m.data }} joined</b></ng-container>
      <ng-container *ngIf="m.type === 'part'"><b class="text-danger">{{ m.data }} left</b></ng-container>
      <ng-container *ngIf="m.type === 'err'"><b class="text-danger">{{ m.data }}</b></ng-container>
      <ng-container *ngIf="m.type === 'info'"><em class="text-info">{{ m.data }}</em></ng-container>
    </p>
  </virtual-scroller>
  <div class="input-group">
    <button class="btn btn-outline-secondary" type="button" (click)="activeChat()" [class.active]="chatActive">
      <fa-icon [icon]="['fas', 'comments']"></fa-icon>
    </button>
    <input class="form-control mr-sm-2" [(ngModel)]="message" (keydown.enter)="send()" type="text" 
           placeholder="Message" aria-label="Message" [disabled]="!socket.connected">
  </div>
</div>