<div id="chat-zone">
  <virtual-scroller #scroll [items]="data">
    <p class="line mx-2" *ngFor="let m of scroll.viewPortItems">
      <ng-container *ngIf="m.type == 'msg'"><b>{{ m.user }}: </b>{{ m.data }}</ng-container>
      <ng-container *ngIf="m.type == 'join'"><b class="text-success">{{ m.data }} joined</b></ng-container>
      <ng-container *ngIf="m.type == 'left'"><b class="text-danger">{{ m.data }} left</b></ng-container>
      <ng-container *ngIf="m.type == 'err'"><b class="text-danger">{{ m.data }}</b></ng-container>
    </p>
  </virtual-scroller>
  <input class="form-control mr-sm-2" [(ngModel)]="message" (keydown.enter)="send()" type="text" 
         placeholder="Message" aria-label="Message" [disabled]="!socket.connected">
</div>