/*****************************************************
 * node_modules imports
 *****************************************************/
@import '@fontsource/arimo/500.css';

/*****************************************************
 * styles
 *****************************************************/
html, body, app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// dialog backdrop
.cdk-global-scrollblock {
  overflow: hidden;
  .cdk-overlay-backdrop {
    opacity: 0;
  }
}

// mat menu height
.cdk-overlay-pane {
  max-height: 80vh;
}

// mat badge position
.mat-badge-content {
  bottom: 6px !important;
  right: 8px !important;
}

// mat form upper margin
.mat-mdc-text-field-wrapper {
  margin-top: 6px;
}

.d-none {
  display: none;
}

.fw-bold {
  font-weight: bold;
}

.cdk-drag:not(.cdk-drag-dragging) .cdk-drag-handle {
  cursor: move;
}

.cdk-drag-dragging .cdk-drag-handle {
  cursor: grabbing;
}

.text-blue {
  color: #42A5F5;
}

.text-indigo {
  color: #5C6BC0;
}

.text-purple {
  color: #AB47BC;
}

.text-pink {
  color: #EC407A;
}

.text-red {
  color: #EF5350;
}

.text-orange {
  color: #FFA726;
}

.text-yellow {
  color: #FFEE58;
}

.text-green {
  color: #66BB6A;
}

.text-teal {
  color: #26A69A;
}

.text-cyan {
  color: #26C6DA;
}

.text-gray {
  color: #BDBDBD;
}
