/*****************************************************
 * node_modules imports
 *****************************************************/
@import '@fontsource/arimo/500.css';

/*****************************************************
 * styles
 *****************************************************/
html, body, app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// dialog backdrop
.cdk-global-scrollblock {
  overflow: hidden;

  .cdk-overlay-backdrop {
    opacity: 0;
  }
}

// mat menu height
.cdk-overlay-pane {
  max-height: 80vh !important;
}

// mat menu item height
.mat-mdc-menu-item {
  min-height: 36px !important;
}

// mat form upper margin
.mat-mdc-text-field-wrapper {
  margin-top: 6px;
}

.d-none {
  display: none !important;
}

.fw-bold {
  font-weight: bold;
}

.cdk-drag-dragging .cdk-drag-handle {
  cursor: grabbing;
}

.cdk-drag:not(.cdk-drag-dragging) .cdk-drag-handle {
  cursor: move;
}

.text-blue {
  color: #42a5f5;
}

.text-indigo {
  color: #5c6bc0;
}

.text-purple {
  color: #ab47bc;
}

.text-pink {
  color: #ec407a;
}

.text-red {
  color: #ef5350;
}

.text-orange {
  color: #ffa726;
}

.text-yellow {
  color: #ffee58;
}

.text-green {
  color: #66bb6a;
}

.text-teal {
  color: #26a69a;
}

.text-cyan {
  color: #26c6da;
}

.text-gray {
  color: #bdbdbd;
}
