<h1 mat-dialog-title *transloco="let t; prefix: 'toolbar'">
  {{ t('settings') }}
</h1>
<mat-dialog-content *transloco="let t; prefix: 'settings'">
  <mat-checkbox [(ngModel)]="archivedMedia">{{
    t('archivedMedia')
  }}</mat-checkbox>
  <mat-checkbox [(ngModel)]="verticalChat">{{
    t('verticalChat')
  }}</mat-checkbox>
  <mat-form-field appearance="outline">
    <mat-label>{{ t('maxFps') }}</mat-label>
    <input
      matInput
      type="text"
      minlength="1"
      pattern="[0-9]*"
      [(ngModel)]="maxFps"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ t('maxLights') }}</mat-label>
    <input
      matInput
      type="text"
      minlength="1"
      pattern="[0-9]*"
      [(ngModel)]="maxLights"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ t('language') }}</mat-label>
    <mat-select [(value)]="language">
      @for (lang of languages; track lang.id) {
        <mat-option [value]="lang.id">{{ lang.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end" *transloco="let t; prefix: 'settings'">
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    color="primary"
    (click)="save()"
  >
    {{ t('save') }}
  </button>
</mat-dialog-actions>
