<div class="container">
  <form class="form-signin" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div class="mx-auto">
      <app-logo></app-logo>
    </div>
    <div class="alert alert-danger" *ngIf="loginError">Wrong login or password</div>
    <div class="alert alert-danger" *ngIf="usernameCtl.dirty && usernameCtl.hasError('required')">
      Username is required
    </div>
    <div class="alert alert-danger" *ngIf="passwordCtl.dirty && passwordCtl.hasError('required')">
      Password is required
    </div>
    <div class="input-group mb-2">
      <div class="input-group-text">
        <fa-icon [icon]="['fas', 'user']" [fixedWidth]="true"></fa-icon>
      </div>
      <div class="form-floating flex-grow-1">
        <input class="form-control" formControlName="username">
        <label>Login</label>
      </div>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-text">
        <fa-icon [icon]="['fas', 'key']" [fixedWidth]="true"></fa-icon>
      </div>
      <div class="form-floating flex-grow-1">
        <input type="password" class="form-control" formControlName="password">
        <label>Password</label>
      </div>
    </div>
    <button *ngIf="!processing; else processingTemplate" class="btn btn-lg btn-primary btn-block w-100" type="submit"
            [disabled]="loginForm.invalid">
    Sign in
    </button>
    <ng-template #processingTemplate>
    <button class="btn btn-lg btn-primary btn-block w-100" type="submit" disabled>
      <fa-icon [icon]="['fas', 'circle-notch']" [fixedWidth]="true" [spin]="true"></fa-icon><span class="sr-only">Loading...</span>
    </button>
    </ng-template>
  </form>
</div>