<h1 mat-dialog-title>World features</h1>
<mat-dialog-content class="mat-typography">
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faMound" [fixedWidth]="true" pull="left" />
        Ground
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="terrain">Enable Terrain</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>Terrain elevation offset</mat-label>
          <input matInput type="number" [(ngModel)]="terrainOffset" />
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faSun" [fixedWidth]="true" pull="left" />
        Lighting
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="fog">Enable Fog</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput type="color" [(ngModel)]="fogColor" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fog Min</mat-label>
          <input matInput type="number" [(ngModel)]="fogMin" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fog distance</mat-label>
          <input matInput type="number" [(ngModel)]="fogMax" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ambient Light</mat-label>
          <input matInput type="color" [(ngModel)]="ambLight" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Directional Light</mat-label>
          <input matInput type="color" [(ngModel)]="dirLight" />
        </mat-form-field>
        <div>
          <div>
            <mat-label>Light Direction</mat-label>
          </div>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirX" />
          </mat-slider>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirY" />
          </mat-slider>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirZ" />
          </mat-slider>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faPanorama" [fixedWidth]="true" pull="left" />
        Sky
      </ng-template>
      <div class="tab-content">
        <mat-form-field appearance="outline">
          <mat-label>Skybox</mat-label>
          <input matInput type="text" [(ngModel)]="skySvc.skybox" />
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Top</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyTop" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bottom</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyBottom" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>North</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyNorth" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>South</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skySouth" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>East</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyEast" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>West</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyWest" />
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faWater" [fixedWidth]="true" pull="left" />
        Water
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="water">Enable water</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>Top texture</mat-label>
          <input matInput type="text" [(ngModel)]="waterTextureTop" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bottom texture</mat-label>
          <input matInput type="text" [(ngModel)]="waterTextureBottom" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput type="color" [(ngModel)]="waterColor" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Opacity</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="255"
            [(ngModel)]="waterOpacity"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Water Level</mat-label>
          <input matInput type="number" [(ngModel)]="waterLevel" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Underwater view distance</mat-label>
          <input matInput type="number" [(ngModel)]="waterUnderView" />
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
