<h1 mat-dialog-title *transloco="let t; prefix: 'toolbar'">
  {{ t('worldAttribs') }}
</h1>
<mat-dialog-content
  class="mat-typography"
  *transloco="let t; prefix: 'world-attribs'"
>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icon.faMound" [fixedWidth]="true" pull="left" />
        {{ t('ground') }}
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="terrain">{{
          t('enableTerrain')
        }}</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('terrainOffset') }}</mat-label>
          <input matInput type="number" [(ngModel)]="terrainOffset" />
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icon.faSun" [fixedWidth]="true" pull="left" />
        {{ t('lighting') }}
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="fog">{{ t('enableFog') }}</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('color') }}</mat-label>
          <input matInput type="color" [(ngModel)]="fogColor" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('fogMin') }}</mat-label>
          <input matInput type="number" [(ngModel)]="fogMin" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('fogMax') }}</mat-label>
          <input matInput type="number" [(ngModel)]="fogMax" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('ambLight') }}</mat-label>
          <input matInput type="color" [(ngModel)]="ambLight" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('dirLight') }}</mat-label>
          <input matInput type="color" [(ngModel)]="dirLight" />
        </mat-form-field>
        <div>
          <div>
            <mat-label>{{ t('lightDir') }}</mat-label>
          </div>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirX" />
          </mat-slider>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirY" />
          </mat-slider>
          <mat-slider min="-1000" max="1000" step="1" discrete>
            <input matSliderThumb [(ngModel)]="lightDirZ" />
          </mat-slider>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icon.faPanorama" [fixedWidth]="true" pull="left" />
        {{ t('sky') }}
      </ng-template>
      <div class="tab-content">
        <mat-form-field appearance="outline">
          <mat-label>{{ t('skybox') }}</mat-label>
          <input matInput type="text" [(ngModel)]="skySvc.skybox" />
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('top') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyTop" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('bottom') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyBottom" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('north') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyNorth" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('south') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skySouth" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('east') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyEast" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('west') }}</mat-label>
            <input matInput type="color" [(ngModel)]="skySvc.skyWest" />
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icon.faWater" [fixedWidth]="true" pull="left" />
        {{ t('water') }}
      </ng-template>
      <div class="tab-content">
        <mat-checkbox [(ngModel)]="water">{{ t('enableWater') }}</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('topTexture') }}</mat-label>
          <input matInput type="text" [(ngModel)]="waterTextureTop" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('bottomTexture') }}</mat-label>
          <input matInput type="text" [(ngModel)]="waterTextureBottom" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('color') }}</mat-label>
          <input matInput type="color" [(ngModel)]="waterColor" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('opacity') }}</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="255"
            [(ngModel)]="waterOpacity"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('waterLevel') }}</mat-label>
          <input matInput type="number" [(ngModel)]="waterLevel" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('waterUnderView') }}</mat-label>
          <input matInput type="number" [(ngModel)]="waterUnderView" />
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
