<h1 mat-dialog-title *transloco="let t; read: 'teleport'">
  @if (data.type === 0) {
    {{ t('teleportTo') }}
  } @else {
    {{ t('remember') }}
  }
</h1>
<mat-dialog-content *transloco="let t; read: 'teleport'">
  @if (data.type === 0) {
    <mat-form-field appearance="outline">
      <mat-label>{{ t('world') }}</mat-label>
      <input matInput type="text" [(ngModel)]="worldName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('coordinates') }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="coordinates"
        placeholder="40N 50W"
      />
    </mat-form-field>
  }
  @if (data.type === 1) {
    <mat-form-field appearance="outline">
      <mat-label>{{ t('name') }}</mat-label>
      <input matInput type="text" [(ngModel)]="name" />
    </mat-form-field>
  }
</mat-dialog-content>
<mat-dialog-actions align="end" *transloco="let t; read: 'teleport'">
  @if (data.type === 0) {
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="primary"
      (click)="go()"
    >
      {{ t('go') }}
    </button>
  }
  @if (data.type === 1) {
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      color="accent"
      (click)="makeHome()"
    >
      {{ t('makeHome') }}
    </button>
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="primary"
      (click)="save()"
    >
      {{ t('save') }}
    </button>
  }
</mat-dialog-actions>
