<h1 mat-dialog-title *transloco="let t; read: 'toolbar'">
  {{ t('controls') }}
</h1>
<mat-dialog-content *transloco="let t; read: 'controls'">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">
          <button mat-flat-button (click)="setDefault()" color="primary">
            {{ t('setDefault') }}
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of controlsKeymap; track i; let i = $index) {
        <tr>
          <th scope="row">{{ t(controlsKeys[i]) }}</th>
          <td>
            <button
              mat-flat-button
              (click)="setKey(i, 0)"
              [color]="
                activeKey()[0] === i && activeKey()[1] === 0 ? 'accent' : ''
              "
            >
              {{ item[0] || t('none') }}
            </button>
          </td>
          <td>
            <button
              mat-flat-button
              (click)="setKey(i, 1)"
              [color]="
                activeKey()[0] === i && activeKey()[1] === 1 ? 'accent' : ''
              "
            >
              {{ item[1] || t('none') }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</mat-dialog-content>
