<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Lemuria</a>
    <div class="nav navbar-nav">
      <div class="btn-group" dropdown>
        <div dropdownToggle type="button" class="nav-link dropdown-toggle">
          World
        </div>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let w of worldList" role="menuitem" (click)="connect(w.id)">
            <button class="dropdown-item">
              <fa-icon [icon]="['fas', 'globe']"></fa-icon> {{ w.name }}
              <span class="badge rounded-pill bg-secondary float-end">{{ w.users }}</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown [isDisabled]="!socket.connected">
        <div dropdownToggle type="button" class="nav-link dropdown-toggle">
          Avatar
        </div>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let a of world.avatarList" (click)="changeAvatar(world.avatarList.indexOf(a))">
            <button class="dropdown-item">
              <fa-icon [class.invisible]="world.avatarList.indexOf(a) !== avatarId" [icon]="['fas', 'check']"></fa-icon> {{ a.name }}
            </button>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown [isDisabled]="!socket.connected">
        <div dropdownToggle type="button" class="nav-link dropdown-toggle">
          Visibility
        </div>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let v of visibilityList" (click)="changeVisibility(v)">
            <button class="dropdown-item">
              <fa-icon [class.invisible]="v !== visibility" [icon]="['fas', 'check']"></fa-icon> {{ v }} meters
            </button>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-primary my-2 my-sm-0" (click)="toggleCamera()" type="button">
      <fa-icon *ngIf="firstPerson" [icon]="['fas', 'eye']"></fa-icon>
      <fa-icon *ngIf="!firstPerson" [icon]="['fas', 'video']"></fa-icon>
    </button>
    <!-- div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" (click)="enableCollision()" btnCheckbox>
      <label class="form-check-label text-info">Slow mode</label>
    </div -->
    <div class="text-center text-light lh-1">
      {{strPos}}<br />
      {{strAlt}}m
    </div>
    <button class="d-inline-block btn btn-dark btn-circle" (click)="compassClick(true)" (contextmenu)="compassClick(false)" type="button">
      <div #compass>
        <fa-layers [fixedWidth]="true">
          <fa-icon class="d-inline-block" [icon]="['fas', 'location-arrow']" transform="rotate-135 down-5"></fa-icon>
          <fa-icon class="d-inline-block" [icon]="['fas', 'location-arrow']" class="text-danger" transform="rotate-315 up-4"></fa-icon>
          <fa-layers-text content="N" class="text-warning" transform="shrink-5 up-16"></fa-layers-text>
          <fa-layers-text content="E" class="text-warning" transform="rotate-90 shrink-5 right-16"></fa-layers-text>
          <fa-layers-text content="S" class="text-warning" transform="rotate-180 shrink-5 down-17"></fa-layers-text>
          <fa-layers-text content="W" class="text-warning" transform="rotate-270 shrink-5 left-16"></fa-layers-text>
        </fa-layers>
      </div>
    </button>
    <div class="nav navbar-nav ml-auto">
      <div class="btn-group" dropdown>
        <div dropdownToggle type="button" class="btn btn-info">
          <fa-icon [icon]="['fas', 'users']" [fixedWidth]="true"></fa-icon> {{ userList.length }}
        </div>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li *ngFor="let u of userList" role="menuitem" class="dropdown-item">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            {{u.name}}
            <button *ngIf="u.id !== userId" class="btn btn-sm btn-warning" (click)="join(u.id)" type="button" title="Join user">
              <fa-icon [icon]="['fas', 'bolt']"></fa-icon>
            </button>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <div dropdownToggle type="button" class="nav-link dropdown-toggle">
          <fa-icon [icon]="['fas', 'user']"></fa-icon> {{ name }} <span class="caret"></span>
        </div>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li *ngIf="socket.connected" role="menuitem" (click)="socket.close()">
            <button class="dropdown-item"><fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon> Leave world</button>
          </li>
          <li role="menuitem" (click)="logout()">
            <button class="dropdown-item"><fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon> Sign out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
