<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <a class="navbar-brand" href="#">Lemuria</a>
  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" [(ngModel)]="name" type="text" placeholder="Name" aria-label="Name" [disabled]="socket.connected">
  </div>
  <button class="btn btn-primary my-2 my-sm-0" (click)="toggleCamera()" type="button">
    <fa-icon *ngIf="firstPerson" [icon]="['fas', 'eye']"></fa-icon>
    <fa-icon *ngIf="!firstPerson" [icon]="['fas', 'video']"></fa-icon>
  </button>
  <select class="custom-select w-25" (change)="changeAvatar($event.target.value)">
    <option *ngFor="let a of world.avatarList" [value]="world.avatarList.indexOf(a)">{{ a }}</option>
  </select>
  <div class="nav navbar-nav ml-auto">
    <button class="btn btn-info my-2 my-sm-0" type="button">
      <fa-icon [icon]="['fas', 'user']"></fa-icon> {{ list.length }}
    </button>
    <button *ngIf="!socket.connected" class="btn btn-success my-2 my-sm-0" (click)="login()" type="button">Login</button>
    <button *ngIf="!socket.connected" class="btn btn-success my-2 my-sm-0" (click)="connect()" type="button">Connect</button>
    <button *ngIf="socket.connected" class="btn btn-danger my-2 my-sm-0" (click)="socket.close()" type="button">Disconnect</button>
  </div>
</nav>
