#chat-zone {
  font-size: 1em;
  pointer-events: none;
  width: 30%;
  height: calc(100vh - 40px);
  overflow-wrap: break-word;
  transition: background-color 0.2s ease-in-out;

  .line, .text-input {
    color: #fff;
    text-shadow:
      #000 2px 0 0,
      #000 1.7552px 0.9589px 0,
      #000 1.0806px 1.6829px 0,
      #000 0.1415px 1.9950px 0,
      #000 -0.8323px 1.8186px 0,
      #000 -1.6023px 1.1969px 0,
      #000 -1.9800px 0.2822px 0,
      #000 -1.8729px -0.7016px 0,
      #000 -1.3073px -1.5136px 0,
      #000 -0.4216px -1.9551px 0,
      #000 0.5673px -1.9179px 0,
      #000 1.4173px -1.4111px 0,
      #000 1.9203px -0.5588px 0;
  }

  .line {
    margin: 0.25rem 0.5rem 0;
  }

  virtual-scroller {
    height: calc(100% - 66px);
    overflow-y: hidden;
    margin-right: 15px;
    margin-bottom: 4px;
  }

  virtual-scroller:hover {
    overflow-y: auto;
    margin-right: 0;
  }

  img {
    margin-right: 4px;
  }

  .chat-input {
    pointer-events: all;
    width: 100%;
  }
}

#chat-zone.active {
  pointer-events: all;
  background-color: #00000080;
}
