<div
  id="prop-edit"
  cdkDrag
  cdkDragBoundary=".ui-wrapper"
  *transloco="let t; read: 'prop-edit'"
>
  <hr cdkDragHandle />
  <div class="buttons">
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'copy')"
      [title]="t('copy')"
    >
      <fa-icon [icon]="icon.faClone" class="text-yellow" [fixedWidth]="true" />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'snapGrid')"
      [title]="t('snapToGrid')"
    >
      <fa-icon [icon]="icon.faBorderNone" [fixedWidth]="true" />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'forward')"
      [title]="t('moveForward')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faRoad" class="text-gray" [fixedWidth]="true" />
        <fa-icon
          class="text-cyan"
          [icon]="icon.faArrowUp"
          transform="shrink-6 up-8"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'backward')"
      [title]="t('moveBack')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faRoad" class="text-gray" [fixedWidth]="true" />
        <fa-icon
          class="text-cyan"
          [icon]="icon.faArrowDown"
          transform="shrink-3 down-8"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'left')"
      [title]="t('moveLeft')"
    >
      <fa-icon
        [icon]="icon.faArrowLeft"
        class="text-cyan"
        [fixedWidth]="true"
      />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'right')"
      [title]="t('moveRight')"
    >
      <fa-icon
        [icon]="icon.faArrowRight"
        class="text-cyan"
        [fixedWidth]="true"
      />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'up')"
      [title]="t('moveUp')"
    >
      <fa-icon [icon]="icon.faArrowUp" class="text-cyan" [fixedWidth]="true" />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'down')"
      [title]="t('moveDown')"
    >
      <fa-icon
        [icon]="icon.faArrowDown"
        class="text-cyan"
        [fixedWidth]="true"
      />
    </button>
    <br />
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'delete')"
      [title]="t('delete')"
    >
      <fa-icon [icon]="icon.faTrashCan" class="text-red" [fixedWidth]="true" />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotReset')"
      [title]="t('resetRotation')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faRotate" [fixedWidth]="true" />
        <fa-layers-text
          content="0"
          transform="shrink-2 right-8 down-6"
          class="fw-bold text-gray"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotnX')"
      [title]="t('tiltMinusXAxis')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateRight" [fixedWidth]="true" />
        <fa-layers-text
          content="X"
          transform="shrink-2 right-8 down-6"
          class="fw-bold text-red"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotX')"
      [title]="t('tiltXAxis')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateLeft" [fixedWidth]="true" />
        <fa-layers-text
          content="X"
          transform="shrink-2 left-8 down-6"
          class="fw-bold text-red"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotnY')"
      [title]="t('turnLeft')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateRight" [fixedWidth]="true" />
        <fa-layers-text
          content="Y"
          transform="shrink-2 right-8 down-6"
          class="fw-bold text-green"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotY')"
      [title]="t('turnRight')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateLeft" [fixedWidth]="true" />
        <fa-layers-text
          content="Y"
          transform="shrink-2 left-8 down-6"
          class="fw-bold text-green"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotnZ')"
      [title]="t('rollMinusZAxis')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateRight" [fixedWidth]="true" />
        <fa-layers-text
          content="Z"
          transform="shrink-2 right-8 down-6"
          class="fw-bold text-blue"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event, 'rotZ')"
      [title]="t('rollZAxis')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faArrowRotateLeft" [fixedWidth]="true" />
        <fa-layers-text
          content="Z"
          transform="shrink-2 left-8 down-6"
          class="fw-bold text-blue"
        />
      </fa-layers>
    </button>
  </div>
  <div class="prop-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('object') }}</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="buildSvc.selectedProp()?.name"
        (ngModelChange)="updateName($event)"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('description') }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"
        [(ngModel)]="buildSvc.selectedProp()?.userData.desc"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('action') }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"
        [(ngModel)]="buildSvc.selectedProp()?.userData.act"
        spellcheck="false"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('date') }}</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="
          (buildSvc.selectedProp()?.userData.date ?? 0) * 1000
            | date: 'EEE MMM d, y h:mm a'
        "
        readonly
      />
    </mat-form-field>
  </div>
</div>
