#build-zone {
  position: absolute;
  pointer-events: all;
  padding: 1em;
  border-radius: 0.25rem;
  bottom: 15px;
  right: 15px;
  width: 30vw;
  min-width: 352px;
  background-color: #00000080;
  text-shadow: #000 2px 0 0, #000 1.7552px 0.9589px 0, #000 1.0806px 1.6829px 0,
  #000 0.1415px 1.9950px 0, #000 -0.8323px 1.8186px 0, #000 -1.6023px 1.1969px 0,
  #000 -1.9800px 0.2822px 0, #000 -1.8729px -0.7016px 0, #000 -1.3073px -1.5136px 0,
  #000 -0.4216px -1.9551px 0, #000 0.5673px -1.9179px 0, #000 1.4173px -1.4111px 0,
  #000 1.9203px -0.5588px 0;

  .buttons button {
    width: auto;
    margin: -5px;
    transform: scale(0.8);
  }

  mat-form-field {
    width: 100%;
  }

  textarea {
    line-height: 1;
  }

  hr {
    height: 8px;
    border-top: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
  }
}