#terrain-zone {
  position: absolute;
  pointer-events: all;
  padding: 1em;
  border-radius: 0.25rem;
  bottom: 15px;
  right: 15px;
  height: 280px;
  width: 20vw;
  min-width: 220px;
  background-color: #00000080;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px,
  rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
  rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px,
  rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
  rgb(0, 0, 0) 1.92034px -0.558831px 0px;

  .buttons button {
    width: auto;
    margin: -5px -5px -5px -5px;
    transform: scale(0.8);
  }

  .terrain-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  hr {
    height: 8px;
    border-top: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
  }
}