<div
  id="terrain-edit"
  cdkDrag
  cdkDragBoundary=".ui-wrapper"
  *transloco="let t; read: 'terrain-edit'"
>
  <hr cdkDragHandle />
  <div class="buttons">
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event)"
      [title]="t('rotateLeft')"
    >
      <fa-icon
        [icon]="icon.faArrowRotateRight"
        class="text-green"
        [fixedWidth]="true"
      />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event)"
      [title]="t('rotateRight')"
    >
      <fa-icon
        [icon]="icon.faArrowRotateLeft"
        class="text-green"
        [fixedWidth]="true"
      />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event)"
      [title]="t('copy')"
    >
      <fa-icon [icon]="icon.faClone" class="text-red" [fixedWidth]="true" />
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event)"
      [title]="t('pasteElevation')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faClipboard" [fixedWidth]="true" />
        <fa-icon
          [icon]="icon.faArrowsUpDown"
          class="text-yellow"
          [fixedWidth]="true"
          transform="shrink-2 right-8 down-6"
        />
      </fa-layers>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="trigger($event)"
      [title]="t('pasteTexture')"
    >
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="icon.faClipboard" [fixedWidth]="true" />
        <fa-icon
          [icon]="icon.faSquare"
          class="text-green"
          [fixedWidth]="true"
          transform="shrink-2 right-8 down-6"
        />
      </fa-layers>
    </button>
  </div>
  <div class="terrain-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('elevation') }}</mat-label>
      <input
        matInput
        type="number"
        [ngModel]="height() | number: '1.2-2'"
        min="-328"
        max="328"
        step="0.01"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('texture') }}</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="buildSvc.selectedCell().texture"
        min="0"
        max="62"
      />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="buildSvc.selectedCell().hole">
      {{ t('hole') }}
    </mat-checkbox>
  </div>
</div>
