@use 'sass:map';
@use '@angular/material' as mat;

@import '../../../styles/_variables';

$color-config: mat.m2-get-color-config($lemuria-theme);

$primary-palette: map.get($color-config, 'primary');

.pill {
  background-color: mat.m2-get-color-from-palette($primary-palette, 500);
  color: mat.m2-get-color-from-palette($primary-palette, '500-contrast');
  border-radius: 10px;
  padding: 4px;
  margin: 0 4px;
}

mat-toolbar {
  background-color: #00000080;
  height: 40px;
  width: 100vw;
  pointer-events: all;

  button:not(.btn-circle) {
    width: auto;
  }
}

.world-item {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.info {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.invisible {
  visibility: hidden;
}

button:disabled fa-icon {
  color: rgba(255 255 255 / 50%) !important;
}

.btn-circle {
  background-color: #263238;
  width: 38px !important;
  height: 38px !important;
  padding: 6px 0 !important;
  border-radius: 19px;
  text-align: center;
  font-size: 12px;
  line-height: 1.4286;
}
